* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    background-color: #84a0c7;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* min-height: 100vh; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    background-color: rgba(23, 55, 56, 0.35);
    width: 100%;
    min-height: 100%;
}

.content-wrapper {
    max-width: 600px;
}

.title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

/* Для экранов с шириной от  768px и более  */
@media (min-width: 768px) {
    .title {
        font-size: 62px;
    }
}



.form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px 20px;
}

/* Для экранов с шириной от  768px и более  */
@media (min-width: 768px) {
    .form-wrapper {
        padding: 40px 35px;
    }
}

.form-group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-input {
    padding: 0 20px;
    height: 52px;
    width: 100%;       
    background-color: #e3eaea;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.2s ease-in;
}

.form-input:focus, .form-message:focus {
    outline: none;
    background-color: #c6e8e8;
}

.form-message {
    width: 100%;
    height: 170px;
    background-color: #e3eaea;
    border-radius: 8px;
    padding: 15px 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    resize: vertical;
    transition: background-color 0.2s ease-in;
}

.form-submit {
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #12ab8c;
    cursor: pointer;
}